body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 560px;
  height: 100vh;
}
@media (max-width: 600px) {
  .wrapper {
    grid-template-columns: none;
    grid-template-rows: 90px 1fr;
  }
}

.page__background-image {
  width: 100%;
}
.page__background-image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.page__sidebar {
  background: #F9FAFF;
  position: relative;
}
@media (max-width: 600px) {
  .page__sidebar {
    border-radius: 30px 30px 0 0;
    margin: -20px 0 0 0;
  }
}

.sidebar-form {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}
.sidebar-form__signup {
  display: flex;
  flex-direction: column;
  padding: 172px 98px 0 95px;
}
@media (max-width: 600px) {
  .sidebar-form__signup {
    display: flex;
    flex-direction: column;
    padding: 38px 33px 0 32px;
  }
}
.sidebar-form__title {
  font-size: 24px;
  font-weight: 600;
  line-height: 26px;
}
@media (max-width: 600px) {
  .sidebar-form__title {
    font-size: 20px;
    line-height: 24px;
  }
}
.sidebar-form__input-wrapper {
  margin: 40px 0 0 0;
  position: relative;
  padding: 0;
}
@media (max-width: 600px) {
  .sidebar-form__input-wrapper {
    margin: 25px 0 0 0;
  }
}
.sidebar-form__input-wrapper._focused:before {
  background-image: inherit;
}
.sidebar-form__input-wrapper._focused .sidebar-form__input::placeholder {
  font-size: 0;
}
.sidebar-form__input-wrapper-name:before {
  width: 21px;
  height: 21px;
  content: "";
  background-image: url(../img/user.svg);
  position: absolute;
  left: 26px;
  top: 17px;
}
@media (max-width: 600px) {
  .sidebar-form__input-wrapper-name:before {
    left: 16px;
    top: 8px;
  }
}
.sidebar-form__input-wrapper-email:before {
  width: 22px;
  height: 22px;
  content: "";
  background-image: url(../img/email.svg);
  position: absolute;
  left: 26px;
  top: 18px;
}
@media (max-width: 600px) {
  .sidebar-form__input-wrapper-email:before {
    left: 16px;
    top: 8px;
  }
}
.sidebar-form__input-wrapper-password:before {
  width: 22px;
  height: 22px;
  content: "";
  background-image: url(../img/password.svg);
  position: absolute;
  left: 26px;
  top: 18px;
}
@media (max-width: 600px) {
  .sidebar-form__input-wrapper-password:before {
    left: 16px;
    top: 8px;
  }
}
.sidebar-form__input-wrapper-password:after {
  width: 22px;
  height: 22px;
  content: "";
  background-image: url(../img/eye-flash.svg);
  position: absolute;
  top: 16px;
  right: 16px;
}
@media (max-width: 600px) {
  .sidebar-form__input-wrapper-password:after {
    top: 9px;
  }
}
.sidebar-form__input-wrapper-confirm:before {
  width: 20px;
  height: 20px;
  content: "";
  background-image: url(../img/confirm_password.svg);
  position: absolute;
  left: 26px;
  top: 18px;
}
@media (max-width: 600px) {
  .sidebar-form__input-wrapper-confirm:before {
    left: 16px;
    top: 8px;
  }
}
.sidebar-form__input-wrapper-confirm:after {
  width: 22px;
  height: 22px;
  content: "";
  background-image: url(../img/eye-flash.svg);
  position: absolute;
  top: 16px;
  right: 16px;
}
@media (max-width: 600px) {
  .sidebar-form__input-wrapper-confirm:after {
    top: 9px;
  }
}
.sidebar-form__input {
  height: 56px;
  width: 100%;
  border-radius: 8px;
  border: 1px solid #DCE0EC;
}
@media (max-width: 600px) {
  .sidebar-form__input {
    height: 40px;
    width: 100%;
  }
}
.sidebar-form__input::placeholder {
  font-size: 17px;
  font-weight: 400;
  line-height: 24px;
  padding: 16px 64px;
}
@media (max-width: 600px) {
  .sidebar-form__input::placeholder {
    font-size: 15px;
    line-height: 21px;
    padding: 22px 0 0 45px;
  }
}
.sidebar-form__btn {
  height: 56px;
  width: 146px;
  border-radius: 8px;
  background-color: #7297FF;
  color: #FFF;
  font-size: 17px;
  font-weight: 600;
  margin: 64px 0 0 0;
  display: flex;
}
@media (max-width: 600px) {
  .sidebar-form__btn {
    margin: 32px 0 0 0;
    font-size: 15px;
    height: 48px;
    width: 122px;
  }
}
.sidebar-form__btn button {
  background-color: inherit;
  color: #FFFFFF;
  border: none;
  margin: 0 8px 0 19px;
}
@media (max-width: 600px) {
  .sidebar-form__btn button {
    margin: 0 8px 0 10px;
  }
}
.sidebar-form__redirect {
  padding: 0 0 80px 95px;
}
@media (max-width: 600px) {
  .sidebar-form__redirect {
    padding: 0 0 49px 32px;
  }
}
.sidebar-form__redirect span {
  font-size: 15px;
  font-weight: 400;
  line-height: 21px;
  color: #A1ABC9;
  padding: 0 12px 0 0;
}
@media (max-width: 600px) {
  .sidebar-form__redirect a {
    display: block;
  }
}
.sidebar-form__link {
  color: #7297FF;
  font-size: 15px;
  font-weight: 600;
  line-height: 19px;
  text-decoration: none;
}
.sidebar-form__link:hover {
  text-decoration: underline;
}
@media (max-width: 600px) {
  .sidebar-form__link {
    padding: 2px 0 0 0;
  }
}

/*# sourceMappingURL=sign-up.css.map */
